.btn1{
    border-radius: 8px;

    background: rgb(35, 190, 10);
}

.btn2 {
    border-radius: 8px;

    background: rgb(89, 198, 210);
}

.btnc{
    border: 2px solid  rgb(35, 190, 10) ;
    border-radius: 8px;

    color : rgb(35, 190, 10);
}